.container{
    background-color: #d14836;
}
#containerbody{
    background-color: #d14836
}

.menubar{
    float: right;
    
}
.box{
    width: 80px;
    padding: 22px;
    border-radius: 8px;
    border:1px solid;

}

